* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
   
}

.container {
    width: 812px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

textarea {
    padding-left: 1px;
    width: 100%;
    margin-bottom: 20px; 
    resize: none;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}
textarea:focus {
   outline-color: #bdae82;
}

/*-----------------------------------------------------keyboard------------------------------------------*/

.keyboard {
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 4px;
     justify-content: space-between;
    width: 100%;
    height: auto;
    border: 2px solid dimgrey;
    background-color: rgb(232, 232, 232);
    border-radius: 5px;
}

.btn {
    height: 50px;
    width: 50px;
    font-weight: 600;
    color: dimgrey;
    background-color: rgb(255, 255, 255);
    border: 1px solid dimgrey;
    border-radius: 4px;
}
.btn.active {
    background-color: #bdae82 ;
    transform: scale(0.95);
}
.btn:active {
    background-color: #bdae82;
   transform: scale(0.99);
}
.btn:hover {
    cursor: pointer;
}

.backspace {
    width: 104px;
}

.tab {
    width: 50px;
}

.capslock {
    width: 100px;
}

.capslock.press {
    background-color: #bdae82;
    transform: scale(0.99);
}

.enter {
    width: 103px;
}

.shiftleft {
    width: 100px;
}
.shiftright {
    width: 109px;
}

.space {
    width: 350px;
}

/*----------------------------------------footer---------------------------------------------------*/

.footer{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
   
}